.navbar {
  background-color: #c5c5c500;
  border-bottom: 1px solid #000;
}

.title {
  text-shadow: 3px 3px 7px #4247ce, -3px -3px 7px #ff0000;
}

.userBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.imageUser {
  border-radius: 50%;
  width: 50px;
}
